.sections-container{
    margin: 110px 120px;
    display: flex;
    justify-content: space-between;
}

/* -------------------- PROFILE SECTION --------------------  */

.hidden {
    display: none;
}

.profile__container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 30px 0;
    border-radius: 20px;
    width: 25vw;
}

.profile__data-counting-container{
    margin-top: 30px;
}

.profile__top-content-container, .profile__user-level, .profile__data-counting{
    text-align: center;
}

.profile__content-container{
    width: 70%;
}

.profile__top-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile__user-name{
    font-size: 1.4rem;
}

.profile__title-data{
    font-size: 0.8rem;
    margin: 0 10px;
}

.profile__data-counting-container{
    display: flex;
}

.profile__buttons-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.profile__btn{
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.profile__btn:hover{
    transform: scale(0.95);
}

.profile__edit-profile, #go-to-teacher-panel{
    background-color: #10b981;
    color: #fff;
}

/* -------------------- LAYOUTS PROFILE SECTION -------------------- */

.profile__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0003;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.profile__modal-content {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
}

.profile__modal-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px 0;
    color: #10b981;
}

.profile__modal-text {
    display: block;
    font-size: 1rem;
    margin: 0 0 5px 10px;
}

.profile__modal-button {
    margin-top: 20px;
}

.custom-file-upload-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-file-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #10b981;
    border-radius: 8px;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.custom-file-button:hover {
    transform: scale(0.95);
}

.profile__btn.confirm{
    width: 100%;
}

.log-out{
    width: 100%;
    background-color: #c33;
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
}

.profile__btn.confirm {
    background-color: #10b981;
    color: white;
}

.profile__btn.cancel, .profile__btn.cancel-x {
    background-color: #c33;
    color: white;
}

.profile__btn.cancel-x{
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 700;
    padding: 5px 10px;
    z-index: 1000;
}

.hidden {
    display: none;
}

.theme-toggle-container {
    gap: 10px;
    margin: 40px 0 50px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.theme-switch input:checked + .slider {
    background-color: #10b981;
}

.theme-switch input:checked + .slider:before {
    transform: translateX(24px);
}

.theme-toggle-text {
    font-weight: 600;
    color: #333;
}

/* -------------------- NAV BAR PROFILE SECTION -------------------- */

.profile__tabs-container{
    margin: 0 40px;
    width: 100%;
}

.profile__tabs-nav{
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
}

.profile__tab-button{
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.profile__tab-button:nth-child(2){
    margin: 0 5px;
}

.profile__tab-button.active{
    background-color: #10b981;
    color: #fff;
    font-weight: 600;
}

.profile__tab-button:hover{
    transform: scale(0.97);
}

.profile__tabs-content{
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 15px;
}

.profile__tab-content{
    display: none;
}

.profile__tab-content.active{
    display: block;
}

.profile__top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile__tab-title{
    font-size: 1.4rem;
    font-weight: 800;
}

.profile__level-test-btn{
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: #10b981;
    transform-origin: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profile__level-test-btn:hover{
    transform: scale(1.05);
}

.profile__level-test-link{
    display: flex;
    padding: 5px 15px;
    color: #fff;
}

/* -------------------- PROGRESS PROFILE SECTION -------------------- */

.profile__main-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start; 
}

.profile__progress-timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 10px;
    align-self: stretch;
}

/* -------------------- PROGRESS TIMELINE PROFILE SECTION -------------------- */

.profile__progress-step {
    position: relative;
    z-index: 2;
}

.profile__progress-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 2;
}

.profile__progress-circle.active {
    background-color: #10b981;
}

.profile__progress-connector {
    position: relative;
    height: 47px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__progress-line {
    width: 2px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    z-index: 0;
}

.profile__progress-line-fill {
    width: 2px;
    background-color: #10b981;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: height 0.4s ease;
}

/* -------------------- PROGRESS MAIN PROFILE SECTION -------------------- */

.profile__main-content-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile__main-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__main-text{
    margin: 10px 0;
}

.profile__main-span-level {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #10b981;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 5px;
    min-width: 40px;
    height: 24px;
    font-size: 14px;
    line-height: 1;
}

.profile__main-progress-bar-container{
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    height: 8px;
    margin-bottom: 20px;
}

.profile__main-progress-bar{
    width: 100%;
    height: 100%;
    background-color: #10b981;
    border-radius: 4px;
}

.profile__main-progress-text{
    font-size: 14px;
    margin-top: 10px;
}

.profile__footer-content{
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
}

.profiler__footer-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.profile__footer-text{
    font-size: 0.8rem;
}

/* -------------------- STATISTICS PROFILE SECTION -------------------- */

.profile__statistics-boxes-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.profile__statistics-box{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}

.profile__statistics-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #10b981;
    flex-shrink: 0;
}

.profile__statistics-icons{
    color: #fff;
    font-size: 1.2rem;
}

.profile__statistics-content-container{
    margin-left: 10px;
}

.profile__statistics-value{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.profile__statistics-text{
    font-size: 0.9rem;
    color: #666;
}

/* -------------------- INSIGNIA PROFILE SECTION -------------------- */

.profile__insignia-boxes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.profile__insignia-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 15px;
}

.profile__insignia-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #10b981;
    flex-shrink: 0;
}

.profile__insignia-icons{
    color: #fff;
    font-size: 1.2rem;
}

.profile__insignia-img-container.locked {
    background-color: #ccc;
}

.profile__insignia-box.locked {
    border: 5px solid #ddd;
    background-color: #f9f9f9;
    opacity: 0.6;
    filter: grayscale(100%);
}

.profile__insignia-box.unlocked {
    border: 5px solid #10b981;
    background-color: #f0fff4;
    box-shadow: 0 0 10px rgba(0, 200, 83, 0.2);
    transition: transform 0.2s;
}

.profile__insignia-box.unlocked:hover {
    transform: scale(1.03);
}

.profile__insignia-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.profile__insignia-description{
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

.profile__insignia-required{
    font-size: 0.8rem;
    color: #666;
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .sections-container {
      margin: 60px 40px;
      flex-direction: column;
      align-items: center;
    }
  
    .profile__container {
      width: 80vw;
      margin-bottom: 30px;
    }
  
    .profile__content-container {
      width: 100%;
    }
  
    .profile__tabs-container {
      margin: 0;
    }
  }
  
  @media (max-width: 600px) {
    .sections-container {
      margin: 40px 20px;
    }
  
    .profile__container {
      width: 95vw;
      padding: 20px 10px;
    }
  
    .profile__user-name {
      font-size: 1.2rem;
    }
  
    .profile__title-data {
      font-size: 0.7rem;
    }
  
    .profile__btn {
      font-size: 0.9rem;
    }
  
    .profile__tab-title {
      font-size: 1.2rem;
    }
  
    .profile__statistics-boxes-container,
    .profile__insignia-boxes-container {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 768px) {
    .profile__main-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .profile__progress-timeline {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
    }
  
    .profile__progress-connector {
      flex-direction: row;
      height: auto;
      width: 40px;
    }
  
    .profile__progress-line,
    .profile__progress-line-fill {
      height: 2px;
      width: 100%;
    }
  }
    
