
 /* -------------------- MAIN LESSONS TESTS SECTION --------------------  */



 /* -------------------- PREVIEW SECTION --------------------  */


.main-lessons-tests-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main-lessons-tests__preview-container, .main-lessons-tests__lesson-content-container{
    margin-top: 60px;
    background-color: #fff;
    width: 60%;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.main-lessons-tests__preview-content-container{
    padding: 0 30px;
}

.main-lessons-tests__preview-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-lessons-tests__btn-nav-container{
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 0;
}

.main-lessons-tests__btn-nav{
    background-color: transparent;
    border: 2px solid #10b981;
    color: #10b981;
    font-weight: 600;
    padding: 10px 45px;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: center;
    transition: all .5s ease;
}

.main-lessons-tests__btn-nav:hover{
    transform: scale(1.05);
    background-color: #10b981;
    color: #fff;
}

.main-lessons-tests__btn-nav-back{
    background-color: transparent;
    border: 2px solid #f9731699;
    color: #f9731699;
}

.main-lessons-tests__btn-nav-back:hover{
    background-color: #f97316;
    color: #fff;
}

.first-back-btn{
    background-color: transparent;
    border: 2px solid #888;
    color: #888;
    cursor: default;
}

.first-back-btn:hover{
    background-color: transparent;
    border: 2px solid #888;
    color: #888;
    transform: none;
}

 /* -------------------- LESSONS CONTENT SECTION --------------------  */

.main-lessons-tests__lesson-content-container{
    display: none;
}

.activity-box{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-btn{
    width: 50%;
    margin-top: 10px;
    padding: 8px;
    color: #777;
    background-color: transparent;
    border: 1px solid #10b981;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: center;
    transition: all .2s ease-in-out;
}

.option-btn:hover{
    transform: scale(0.98);
    background-color: #10b981;
    color: #fff;
}

.question{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.feedback{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.summary-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summary-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.summary-right-not{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
}

.main-lessons-tests__btn-nav{
    margin-top: 50px;
}