.main-section{
    margin: 100px 50px;
}

/* -------------------- MAIN-HEADER START -------------------- */

.main__header-container{
    margin: 20px 10px;
}

.main__content-container{
    margin: 20px 0;
}

.main__content-title{
    font-size: 2rem;
}

.main__filter-container{
    display: flex;
}

.main__lessons-category-select{
    width: 70%;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.main__filter-input{
    width: 100%;
    margin-right: 5px;
    padding: 0 20px;
    border: solid 1px #333;
}

.main__filter-container{
    margin-top: 10px;
}

.main__filters, .main__filter-input{
    border-radius: 10px;
    outline: none;
}

.main__filters{
    padding: 5px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.easy{
    background-color: #10b981;
    color: #fff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.easy:hover{
    transform: scale(1.03);
}

.medium{
    background-color: #f59e0b;
    color: #fff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.medium:hover{
    transform: scale(1.03);
}

.hard{
    background-color: #ef4444;
    color: #fff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.hard:hover{
    transform: scale(1.03);
}

/* -------------------- MAIN-CARDS START -------------------- */

.main__lessons-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main__lessons-cards{
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 #ddd;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.main__lessons-cards:hover{
    transform: scale(1.03);
}

.main__lessons-cards-layout{
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main__lessons-cards-img{
    width: 100%;
    height: 100%;
}

.main__lessons-cards-content{
    padding: 20px;
}

.main__lessons-cards-content-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main__lessons-cards-content-category{
    background-color: #10b981;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
}

.main__lessons-cards-content-category, .main__lessons-cards-content-time{
    font-size: 12px;
}

.main__lessons-cards-content-title{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.main__lessons-cards-content-description{
    font-size: 0.9rem;
}

.easy-category{
    background-color: #10b981;
    color: #fff;
}

.medium-category{
    background-color: #f59e0b;
    color: #fff;
}

.hard-category{
    background-color: #ef4444;
    color: #fff;
}